{% extends 'basic.html' %} {% load static %} {%block title%}Change
Password{%endblock%} {% block tag %}
<link href="{%static 'css/form.css'%}" rel="stylesheet" />
{% endblock %} {% block css %}
<style>
  .navbar-default.navbar-reduce {
    display: none;
  }

  .navbar-default.navbar-trans,
  .navbar-default.navbar-reduce {
    display: none;
  }

  footer {
    display: none;
  }
</style>

{% endblock %} {%block body%}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="{% static 'images/check.png' %}" alt="IMG" />
      </div>

      <form
        class="login100-form validate-form"
        action=""
        method="post"
        enctype="multipart/form-data"
      >
        {%csrf_token %}
        <span class="login100-form-title font-a"> Reset Password </span>
        <h1 class="text-center">Success</h1>
        <span class="color-text-a text-center"
          >Password Change Successfully. Your New Password has been set.You may
          go ahead and login.
          <br />
          <li>Login <a href="{% url 'Login' %}"> Click Here </a></li>
        </span>
      </form>
    </div>
  </div>
</div>

{% endblock %}
