{% extends 'basic.html' %}
{% load static %}
{%block title%}Forget Password{%endblock%}
{% block tag %}
<link href="{%static 'css/form.css'%}" rel="stylesheet">
{% endblock %}
{% block css %}
<style>
    .navbar-default.navbar-reduce {
        display: none;
    }

    .navbar-default.navbar-trans,
    .navbar-default.navbar-reduce {
        display: none;
    }

    footer {
        display: none;
    }
</style>


{% endblock %}

{%block body%}


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'images/img-01.png' %}" alt="IMG">
            </div>

            <form class="login100-form validate-form" action="" method="post" enctype="multipart/form-data">
                {%csrf_token %}
                <span class="login100-form-title font-a">
                    Forget Password
                </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="email" Name="email" id="email" placeholder="Email" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Forget
                    </button>
                </div>


                <div class="text-center p-t-136">
                    <a class="txt2" href="{% url 'Login' %}">
                        Back To Login
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}