{% extends 'basic.html' %}
{% load static %}
{%block title%}SignIn{%endblock%}
{% block css %}
<style>
    /*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        background: -webkit-linear-gradient(-135deg, #fff, #ff9068);
        background: -o-linear-gradient(135deg, #ff9068, #fff);
        background: -moz-linear-gradient(-135deg, #ff9068, #fff);
        background: linear-gradient(-135deg, #fff, #ff9068);
    }


    /*---------------------------------------------*/
    a {
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
    }

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: coral;
    }

    /*---------------------------------------------*/
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0px;
        font-family: "Kaushan Script", cursive;
    }

    p {
        font-family: Poppins-Regular;
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
    }

    ul,
    li {
        margin: 0px;
        list-style-type: none;
    }


    /*---------------------------------------------*/
    input {
        outline: none;
        border: none;
    }

    textarea {
        outline: none;
        border: none;
    }

    textarea:focus,
    input:focus {
        border-color: transparent !important;
    }

    input:focus::-webkit-input-placeholder {
        color: transparent;
    }

    input:focus:-moz-placeholder {
        color: transparent;
    }

    input:focus::-moz-placeholder {
        color: transparent;
    }

    input:focus:-ms-input-placeholder {
        color: transparent;
    }

    textarea:focus::-webkit-input-placeholder {
        color: transparent;
    }

    textarea:focus:-moz-placeholder {
        color: transparent;
    }

    textarea:focus::-moz-placeholder {
        color: transparent;
    }

    textarea:focus:-ms-input-placeholder {
        color: transparent;
    }

    input::-webkit-input-placeholder {
        color: #999999;
    }

    input:-moz-placeholder {
        color: #999999;
    }

    input::-moz-placeholder {
        color: #999999;
    }

    input:-ms-input-placeholder {
        color: #999999;
    }

    textarea::-webkit-input-placeholder {
        color: #999999;
    }

    textarea:-moz-placeholder {
        color: #999999;
    }

    textarea::-moz-placeholder {
        color: #999999;
    }

    textarea:-ms-input-placeholder {
        color: #999999;
    }

    /*---------------------------------------------*/
    button {
        outline: none !important;
        border: none;
        background: transparent;
    }

    button:hover {
        cursor: pointer;
    }

    iframe {
        border: none !important;
    }


    /*//////////////////////////////////////////////////////////////////
[ Utility ]*/
    .txt1 {
        font-family: Poppins-Regular;
        font-size: 13px;
        line-height: 1.5;
        color: #999999;
    }

    .txt2 {
        font-family: Poppins-Regular;
        font-size: 13px;
        line-height: 1.5;
        color: #666666;
    }


    /*//////////////////////////////////////////////////////////////////
[ login ]*/

    .limiter {
        width: 100%;
        margin: 0 auto;
    }

    .container-login100 {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;

    }

    .wrap-login100 {
        width: 960px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 50px 100px;
        margin-top: 7rem;
    }

    /*------------------------------------------------------------------
[  ]*/
    .login100-pic {
        width: 316px;
    }

    .login100-pic img {
        max-width: 100%;

    }


    /*------------------------------------------------------------------
[  ]*/
    .login100-form {
        width: 290px;
    }

    .login100-form-title {
        font-family: Poppins-Bold;
        font-size: 24px;
        color: #333333;
        line-height: 1.2;
        text-align: center;

        width: 100%;
        display: block;
        padding-bottom: 54px;
    }


    /*---------------------------------------------*/
    .wrap-input100 {
        position: relative;
        width: 100%;
        z-index: 1;
        margin-bottom: 10px;
    }

    .input100 {
        font-family: Poppins-Medium;
        font-size: 15px;
        line-height: 1.5;
        color: #666666;

        display: block;
        width: 100%;
        background: #e6e6e6;
        height: 50px;
        border-radius: 25px;
        padding: 0 30px 0 68px;
    }

    .inputfile {
        padding-top: 11px;
    }

    .inputarea {
        height: 6rem;
        padding-top: 1em;
    }


    /*------------------------------------------------------------------
[ Focus ]*/
    .focus-input100 {
        display: block;
        position: absolute;
        border-radius: 25px;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 0px 0px;
        color: rgba(255, 127, 80, 0.63);
    }

    .input100:focus+.focus-input100 {
        -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
        animation: anim-shadow 0.5s ease-in-out forwards;
    }

    @-webkit-keyframes anim-shadow {
        to {
            box-shadow: 0px 0px 70px 25px;
            opacity: 0;
        }
    }

    @keyframes anim-shadow {
        to {
            box-shadow: 0px 0px 70px 25px;
            opacity: 0;
        }
    }

    .symbol-input100 {
        font-size: 15px;

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        position: absolute;
        border-radius: 25px;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 35px;
        pointer-events: none;
        color: #666666;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .input100:focus+.focus-input100+.symbol-input100 {
        color: coral;
        padding-left: 28px;
    }

    /*------------------------------------------------------------------
[ Button ]*/
    .container-login100-form-btn {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }

    .login100-form-btn {
        font-family: "Kaushan Script", cursive;
        font-size: 15px;
        line-height: 1.5;
        color: #fff;
        text-transform: uppercase;

        width: 100%;
        height: 50px;
        border-radius: 25px;
        background: coral;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .login100-form-btn:hover {
        background: #333333;
    }



    /*------------------------------------------------------------------
[ Responsive ]*/



    @media (max-width: 992px) {
        .wrap-login100 {
            padding: 130px 90px 33px 85px;
        }

        .login100-pic {
            width: 35%;
        }

        .login100-form {
            width: 50%;
        }
    }

    @media (max-width: 768px) {
        .wrap-login100 {
            padding: 100px 80px 33px 80px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }


        .login100-form {
            width: 100%;
        }

        .login100-pic {
            max-width: 18rem;
            width: 100%;
        }
    }

    @media (max-width: 576px) {
        .wrap-login100 {
            padding: 100px 15px 33px 15px;
        }
    }


    /*------------------------------------------------------------------
[ Alert validate ]*/

    .validate-input {
        position: relative;
    }

    .alert-validate::before {
        content: attr(data-validate);
        position: absolute;
        max-width: 70%;
        background-color: white;
        border: 1px solid coral;
        border-radius: 13px;
        padding: 4px 25px 4px 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 8px;
        pointer-events: none;

        font-family: Poppins-Medium;
        color: coral;
        font-size: 13px;
        line-height: 1.4;
        text-align: left;

        visibility: hidden;
        opacity: 0;

        -webkit-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        transition: opacity 0.4s;
    }

    .alert-validate::after {
        content: "\f06a";
        font-family: FontAwesome;
        display: block;
        position: absolute;
        color: coral;
        font-size: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 13px;
    }

    .alert-validate:hover:before {
        visibility: visible;
        opacity: 1;
    }

    @media (max-width: 992px) {
        .alert-validate::before {
            visibility: visible;
            opacity: 1;
        }
    }


    */
</style>


{% endblock %}

{%block body%}


<div class="limiter">
    <div class="container-login100">

        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt id="imagePreview">
                <img src="{% static 'images/slide-4.png' %}" alt="IMG" class="image-preview__image">
                <video controls alt="" class="video-preview__video" style="display:none;max-width:100%;"></video>
            </div>

            <form class="login100-form validate-form" action="/Addpost/" method="post" enctype="multipart/form-data">
                {%csrf_token %}
                <span class="login100-form-title">
                    <h1>Add Post</h1>
                </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100 inputfile" type="file" value="" Name="file" id="inpFile"
                        placeholder="Image/video" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" value="" Name="Title" placeholder="Title" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" value="" Name="Category" placeholder="Category" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    <textarea class="input100 inputarea" type="textarea" Name="Description" placeholder="Description"
                        required></textarea>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Add
                    </button>
                </div>

                <div class="text-center p-t-12">
                    <span class="txt1">
                        Back To
                    </span>
                    <a class="txt2" href="{% url 'home' %}">
                        Home?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>

    const inFile = document.getElementById("inpFile");
    const previewContainer = document.getElementById("imagePreview");
    const previewImage = previewContainer.querySelector(".image-preview__image");
    const previewVideo = previewContainer.querySelector(".video-preview__video");

    inpFile.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();
            reader.addEventListener("load", function () {

                const getExtension = str => str.slice(str.lastIndexOf("."));

                if (getExtension(file.name) === ".jpg") {
                    previewImage.style.display = "block"
                    previewVideo.style.display = "none"
                    previewImage.setAttribute("src", this.result);

                } else if (getExtension(file.name) === ".png") {
                    previewImage.style.display = "block"
                    previewVideo.style.display = "none"
                    previewImage.setAttribute("src", this.result);

                } else if (getExtension(file.name) === ".gif") {
                    previewImage.style.display = "block"
                    previewVideo.style.display = "none"
                    previewImage.setAttribute("src", this.result);

                } else if (getExtension(file.name) === ".mp4") {
                    previewVideo.style.display = "block"
                    previewImage.style.display = "none"
                    previewVideo.setAttribute("src", this.result);

                } else if (getExtension(file.name) === ".3gp") {
                    previewVideo.style.display = "block"
                    previewImage.style.display = "none"
                    previewVideo.setAttribute("src", this.result);

                } else if (getExtension(file.name) === ".ogg") {
                    previewVideo.style.display = "block"
                    previewImage.style.display = "none"
                    previewVideo.setAttribute("src", this.result);
                }
            });
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}